<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imposto de Renda de Pessoa Fisica</title>
</head>

<body>
    <h1>Cálculo de Idade</h1>

    <img src="media/img/tabela_irpf.png" alt="">
    <div id="resultado">
        Sr(a) {{ nome }} <br>
        Quantidade de dependentes: {{ dependentes }} <br>
        Renda bruta: R${{ renda_bruta }}<br>
        Você deve: R${{ imposto }} de imposto de renda <br>
        Salario liquido: R${{ salario_liquido }} <br>
    </div>


    <form action="" method="post">
        {% csrf_token %}
        
        <label for="Nome">Nome:</label>
       
        <input type="text" name="Cpf">
        <label for="cpf">cpf:</label>

        {% csrf_token %}
        <input type="text" name="Salario">
        <label for="Salario">Salário:</label>

        <input type="text" name="Dependentes">
        <label for="Dependentes">Dependentes:</label>

        <input type="text" Dependentes="Dependentes">
        

        <button type="submit">Calcular</button>
    </form>
</body>

</html>